{% extends "base.html" %}
{% block content %}
<div class="card">
<h2>About VNIDS</h2>
<p>
VNIDS (Virtual Networking Detection System) is a cybersecurity monitoring platform designed to detect suspicious activites and network attacks in real time.
</p>
<p>
The system monitors live network traffic, detects malicious behaviour, stores attack logs, and generates alerts for security analysis.
</p>
<h3>Features</h3>
<ul>
<li>Real-time Packet Monitoring</li>
<li>Port Scan Detection</li>
<li>SYN Flood Detection<li>
<li>Severity Classification</li>
<li>SQLite Log Storage</li>
<li>Real-Time Alert System</li>
<li>Interactive Security Dashboard</li>
</ul>
<h3>Technologies Used</h3>
<ul>
<li>Python</li>
<li>Flask</li>
<li>SQLite</li>
<li>Scapy</li>
<li>Socket Programming</li>
<li>HTML/CSS/JavaScript</li>
<li>Chart.js</li>
<li>VMware Linux & Ubuntu</li>
</ul>
</div>
{% endblock %}


